<!-- <footer class="app-footer">
  <p>&copy; 2024 Kythara Institute for Arts and Music. All rights reserved.</p>
</footer>
 -->

 <footer>
  <div class="container">
    <div class="footer-nav">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About Us</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
    <div class="footer-info">
      <p>&copy; 2024 Music Academy. All rights reserved.</p>
      <p>Follow us on social media:</p>
      <div class="social-media">
        <a href="https://www.facebook.com/kythara1988/" class="social-icon">Facebook</a>
        <a href="https://www.instagram.com/kythara_institute/" class="social-icon">Instagram</a>
        <a href="https://www.youtube.com/@monayoussef9994" class="social-icon">YouTube</a>
      </div>
    </div>
  </div>
</footer>


