<div class="home">
  <section class="hero">
    <div class="hero-content">
      <h2>Where words fail, music speaks.</h2>
      <p>Unleash your talent, join our institute and start your musical journey!</p>
      <button class="cta-btn" (click)="scrollToSection('features')">Get Started</button>
    </div>
  </section>

  <section class="features" id="features">
    <h3>What We Offer</h3>
    <div class="feature-item">
      <h4>Private Lessons</h4>
      <p>Tailored lessons for all ages and skill levels.</p>
    </div>
    <div class="feature-item">
      <h4>Group Classes</h4>
      <p>Learn in a fun and interactive group environment.</p>
    </div>
    <div class="feature-item">
      <h4>Music Theory</h4>
      <p>Master the foundations of music theory.</p>
    </div>
    <div class="feature-item">
      <h4>Music Ceremonies</h4>
      <p>We offer annual ceremonies, and summer ceremonies to show the work of the year.</p>
    </div>
    <div class="feature-item">
      <h4>Music for all</h4>
      <p>We offer music classes for each one at any level or any age</p>
    </div>
    <div class="feature-item">
      <h4>Online classes</h4>
      <p>We have the possibility of making the classes online</p>
    </div>
  </section>
</div>

